main
{
    text-align: center;
}

p
{
    font-size: 2vw;
}

table
{
    text-align: center;
}

#past > p, #latest > p
{
    font-size: 1vw;
}

#pastTitle, #latestTitle
{
    margin: 0;
}

#pageTitle
{
    font-size: 2.5vw;
}

#latest
{
    font-size: 0.1vw;
}